<div class="login-signup">
  <h2>Sign up</h2>
</div>

<div class="login1">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs1">
      <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label_html: { class: 'form-label' },
                wrapper_html: { class: 'mb-3' } %>
      <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                label_html: { class: 'form-label' },
                wrapper_html: { class: 'mb-3' } %>
      <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                label_html: { class: 'form-label' },
                wrapper_html: { class: 'mb-3' } %>
      <%= f.select :category,
                User.categories.keys.map { |category| [category.capitalize, category] },
                { prompt: "Select Category" },
                { class: 'form-select' } %>
    </div>

  <div class="form-actions2">
    <%= f.button :submit, "Sign up", class: "btn-login" %>
    <a href="/users/sign_in" class="link-registration">Log in</a>
  </div>
<% end %>
</div>

