<div class="container" style="padding: 50px;">
  <%= form_with(model: @donor, url: donors_path, method: "post") do |form| %>

    <%= form.label :first_name, "First Name" %>
    <%= form.text_field :first_name, class: "form-control" %>

    <%= form.label :last_name, "Last Name" %>
    <%= form.text_field :last_name, class: "form-control" %>

    <%= form.label :address, "Address" %>
    <%= form.text_area :address, class: "form-control" %>

    <%= form.label :blood_type, "Blood Type" %>
    <%= form.text_field :blood_type, class: "form-control" %>

    <%= form.label :birthdate, "Birthdate" %>
    <%= form.date_field :birthdate, class: "form-control" %>

    <%= form.label :national_id, "National ID" %>
    <%= form.text_field :national_id, class: "form-control" %>

    <div class="actions">
      <%= form.button :submit, class: "btn-link" %>
    </div>
  <% end %>
</div>