<div class="donor-index">
  <div class="donor-profile">
    <div><h3 class="my-profile-text">Profile Page</h3></div>
    <div class="donor_profile_links">
      <div><%= link_to 'Back', root_path, class: "profile-link-back" %></div>
      <div><%= link_to 'New Appointment', new_appointment_path, class: 'new-appointment-btn-show' %></div>
    </div>
  </div>

  <div class="profile_content">
    <div class="profile_details">
      <div class="profile-header">My Profile</div>
      <div class="my_profile_text">
        <div><p><strong>First Name:</strong> <%= content_tag :span, @donor.first_name, class: 'profile-details-text-black' %></p></div>
        <div><p><strong>Last Name:</strong> <%= content_tag :span, @donor.last_name, class: 'profile-details-text-black' %></p></div>
        <div><p><strong>Address:</strong> <%= content_tag :span, @donor.address, class: 'profile-details-text-black' %></p></div>
        <div><p><strong>Blood Type:</strong> <%= content_tag :span, @donor.blood_type, class: 'profile-details-text-black' %></p></div>
        <div><p><strong>Birthdate:</strong> <%= content_tag :span, @donor.birthdate, class: 'profile-details-text-black' %></p></div>
        <div><p><strong>National ID:</strong> <%= content_tag :span, @donor.national_id, class: 'profile-details-text-black' %></p></div>
        <div class="edit-donor-profile">
          <div><%= link_to 'Edit', edit_donor_path(@donor), class: "profile-link-edit" %></div>
          <div><%= link_to "Delete",
                          donor_path(@donor),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                          class: "profile-link-delete" %></div>
        </div>
      </div>
    </div>

    <div class="show_appointments">
      <div class="my-profile-div">
        <div>My appointments</div>
      </div>
      <div>
        <div class="appointment_grid">
          <% if @appointments.any? %>
            <% @appointments.each do |appointment| %>
              <div class="profile-appointment">
                <div class="detail">
                  <strong>Date:</strong>
                  <%= appointment.appointment_date %>
                </div>
                <div class="detail">
                  <strong>Time:</strong>
                  <%= appointment.appointment_time %>
                </div>
                <div class="detail">
                  <strong>Center Name:</strong>
                  <%= appointment.center.name %>
                </div>
                <div class="detail">
                  <strong>Center Address:</strong>
                  <%= appointment.center.address %>
                </div>
                <div class="detail">
                  <strong>Donor:</strong>
                  <%= appointment.donor.full_name %>
                </div>
                <div class="detail">
                  <strong>Status:</strong>
                  <span class="status-<%= appointment.status %>">
                    <%= appointment.status.presence || 'N/A' %>
                  </span>
                </div>

                <div class="detail">
                  <%= link_to 'Show', appointment, class: 'profile-appointment-show' %>
                  <% if appointment.status != 3 %>
                    <%= link_to 'Cancel', cancel_appointment_path(appointment), method: :post, data: { turbo_confirm: 'Are you sure you want to cancel this appointment?' }, class: 'profile-appointment-show' %>
                  <% else %>
                    <%= "Status: #{appointment.status}" %>
                  <% end %>
                </div>
              </div>

            <% end %>
            <% else %>
                No appointments
            <% end %>
      </div>
      
      
      </div>
      
    </div>
  </div>
</div>
