<%= simple_form_for(@schedule) do |form| %>
  <div class="field">
    <%= form.label :day_id %>
    <%= form.collection_select :day_id, Day.all, :id, :name, { include_blank: 'Select a day' }, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :opening_time %>
    <%= form.time_select :opening_time, { minute_step: 15 }, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :closing_time %>
    <%= form.time_select :closing_time, { minute_step: 15 }, { class: "form-control" } %>
  </div>
  
  <div class="field">
    <%= form.label :center_id %>
    <%= form.collection_select :center_id, Center.all, :id, :name, { include_blank: 'Select a center' }, { class: "form-control" } %>
  </div>

  <div class="actions">
    <%= form.button :submit, "Update Schedule", class: "btn btn-primary" %>
  </div>
<% end %>
