<h1>Schedule Details</h1>
<p><strong>Day:</strong> <%= @schedule.day.name %></p>
<p><strong>Center:</strong> <%= @schedule.center.name %></p>
<p><strong>Opening Time:</strong> <%= @schedule.opening_time.strftime("%H:%M") %></p>
<p><strong>Closing Time:</strong> <%= @schedule.closing_time.strftime("%H:%M") %></p>
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>