<%= simple_form_for(center, url: centers_path, method: "post") do |form| %>


  <div class="field">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address, "Address" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :hospital_id, "Hospital" %>
    <%= form.collection_select :hospital_id, Hospital.all, :id, :hospital_name, { include_blank: true }, class: "form-control" %>
  </div>
  raise
  <div class="actions">
    <%= form.button :submit, "Save", class: "btn btn-primary" %>
  </div>
<% end %>