<div class="center-form">
  <%= form_with model: @center do |f| %>

  <div class="field">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :address, "Address" %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :hospital_id, "Hospital" %>
    <%= f.collection_select :hospital_id, Hospital.all, :id, :hospital_name, { include_blank: true }, class: "form-control" %>
  </div>

   <div class="btn-center-action">
    <%= f.button :submit, class: "btn-new-center" %>
    <a href="/centers", class="link-back-to-centers">Back</a>
  </div>
</div>

<% end %>
