<h1>Centers</h1>
<div class="index-container">
  <% @centers.each_slice(2) do |centers_row| %>
    <div class="row">
      <% centers_row.each do |center| %>
        <div class="card">
          <div class="card__section">
            <p class="card__title"><%= center.name %></p>
            <p class="card__body"><%= center.address %></p>
            <%= link_to 'Book an appointment', appointments_path, class: 'button alt' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div data-controller="map"
    style="width: 60%; height: 600px;"
    id='map'
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
