<div class="center-index-container">
  <div class="text-map-center">
    <div class="text-map">
      <div class="lorem-ipsum">
        <h1>Save a life be a hero</h1>
        <p> Did you know that...Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima omnis eius maiores necessitatibus unde cumque commodi harum illum magni asperiores accusantium pariatur eveniet sapiente nulla in, repudiandae suscipit. Est, suscipit.</p>
      </div>
      <div class="map-container">
        <div data-controller="map"
          style="height: 100%;"
          id='map'
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
  <div class="section-cards">
    <div class="title-center">
      <h2>Centers</h2>
      <p>Embrace the profound impact of donating blood. With each donation, you offer someone another chance at life. <br> Let your empathy flow freely, be the guiding light in a world that often feels dark. Donate blood, and witness the incredible power of empathy.</p>
    </div>
    <div class="center-index-cards">
        <% @centers.each do |center| %>
          <%= link_to(center_path(center)) do %>
            <div class="card-center">
              <p class="card__title"><%= center.name %></p>
              <p class="card__body"><%= center.address %></p>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
