<div class="show-title">
  <h1>
    <%= @center.name %>
  </h1>
    <div class="show-address">
    <h2>
      <%= @center.address %>
    </h2>
  </div>
</div>

<div class="map-schedule">

    <div class="schedule">
      <ul>
      <% Day.all.each do |day| %>
        <% schedule = @center.schedules.find_by(day_id: day.id) %>
        <% if schedule %>
          <li><strong><%= day.name %>:</strong> <%= schedule.opening_time %> - <%= schedule.closing_time %></li>
        <% else %>
          <li><strong><%= day.name %>:</strong> Closed</li>
        <% end %>
      <% end %>
    </ul>
    </div>

    <div data-controller="map"
      style="width: 100%; height: 600px; border-radius: 15px;"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

<div class="reviews">
    <h1>Reviews</h1>
  </div>
</div>
