<div class="container">
  <div class="left-column">
    <div class="schedule">
      <h1>Schedule</h1>
      <ul>
        <li><strong>Thursday:</strong> openingstime</li>
        <li><strong>Wednesday:</strong> openingstime</li>
        <li><strong>Tuesday:</strong> openingstime</li>
        <li><strong>Friday:</strong> openingstime</li>
        <li><strong>Saturday:</strong> openingstime</li>
        <li><strong>Sunday:</strong> openingstime</li>
      </ul>
    </div>
  </div>
  <div class="center-column">
    <h1>
      <%= @center.name %>
    </h1>
    <div class="center-address">
      <h2>
        <%= @center.address %>
      </h2>
    </div>
    <div class="map-show">
      <div data-controller="map"
        style="width: 100%; height: 600px;"
        id='map'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="reviews">
      <h1>Reviews</h1>
    </div>
  </div>
</div>
<div class="actions">
  <%= link_to 'Edit', edit_center_path(@center),  class: 'button alt' %>
  <%= link_to 'Back', centers_path, class: 'button alt' %>
  <%= link_to 'Delete', @center, method: :delete, data: { confirm: 'Are you sure?' },  class: 'button alt' %>
</div>
