<div class="center-show-page-container" style="padding: 10px 50px 80px;">

  <div class="show-title">
    <div class="centers-title-header">
     <h4 class="centers-show-title"><%= @center.name %></h4>
      <div><%= link_to 'New Appointment', new_appointment_path, class: 'new-appointment-btn-show' %></div>
    </div>
    
      <div class="show-address">
      <h4 class="centers-show-address">
        <%= @center.address %>
      </h4>
    </div>
  </div>

  <div class="map-schedule">

      <div class="schedule">
        <h4 class="schedule-title-text">Schedule</h4>
        <ul>
          <li><strong>Thursday:</strong> openingstime</li>
          <li><strong>Wednesday:</strong> openingstime</li>
          <li><strong>Tuesday:</strong> openingstime</li>
          <li><strong>Friday:</strong> openingstime</li>
          <li><strong>Saturday:</strong> openingstime</li>
          <li><strong>Sunday:</strong> openingstime</li>
        </ul>
      </div>
      <div class="centers-show-page-map" style="width: 100%px; height: 500px; border-radius: 15px; positin: relative;">
        <div data-controller="map"
        style="width: 100%; height: 100%; border-radius: 15px; positin: absolute;"
        id='map'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      </div>
      
  </div>

  
  <div data-controller="toggle">
  <div class="center-reviews-title" style="display: flex; align-items: flex-start;">
    <h3>Center reviews: </h3> <button data-action="click->toggle#fire" class="add-review-btn">Add a review</button>
  </div>
    

    <div class="review-form" data-toggle-target="togglableElement">
      <%= render "form_new_review", center: @center, user: current_user %>
    </div>

  </div>
  

  <div class="add-review">
    <div class="display-user">
      <% @reviews.each do |review| %>
        <div class="review">
          <div>Review by: <%= review.donor.last_name %></div>
          <div>Review Date: <%= review.created_at.strftime("%Y-%m-%d") %></div>
          <div>Rating: <%= review.rating %> <%= 'â­' * review.rating %></div>
          <div><%= review.review_content %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

