<div class="show-title">
  <h1>
    <%= @center.name %>
  </h1>
  <h2>
    <%= @center.address %>
  </h2>
</div>

<div class="map-schedule">
  <div class="schedule">
    <h1>Schedule</h1>
<ul>
  <% @opening_time.each do |opening| %>
    <li><strong>Monday:</strong> <%= "#{opening.opening_time.strftime('%H:%M')} - #{opening.closing_time.strftime('%H:%M')}" %></li>
      <li><strong>Thursday:</strong>  <%= "#{opening.opening_time.strftime('%H:%M')} - #{opening.closing_time.strftime('%H:%M')}" %></li>
      <li><strong>Wednesday:</strong> <%= "#{opening.opening_time.strftime('%H:%M')} - #{opening.closing_time.strftime('%H:%M')}" %></li>
      <li><strong>Tuesday:</strong> <%= "#{opening.opening_time.strftime('%H:%M')} - #{opening.closing_time.strftime('%H:%M')}" %></li>
      <li><strong>Friday:</strong> <%= "#{opening.opening_time.strftime('%H:%M')} - #{opening.closing_time.strftime('%H:%M')}" %></li>
      <li><strong>Saturday:</strong> <%= "#{opening.opening_time.strftime('%H:%M')} - #{opening.closing_time.strftime('%H:%M')}" %></li>
      <li><strong>Sunday:</strong> <%= "#{opening.opening_time.strftime('%H:%M')} - #{opening.closing_time.strftime('%H:%M')}" %></li>
  <% end %>
    </ul>
  </div>

  <div data-controller="map" style="width: 80%; height: 600px; border-radius: 15px;" id='map' data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="section-center">
  <div class="title-center">
    <h2>Reviews</h2>
    <p>Check other people their experience!</p>
    <div class="center-index-cards">
      <% @reviews.each do |review| %>
      <div class="card-center">
        <p class="card__title">Rating: </h5><%= review.rating %></p>
        <p class="card__body">Comment:</h5><%= review.review_content %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="actions">
  <%= link_to 'Save lives!', new_appointment_path, class: 'button alt' %>
</div>
