<div class="navbar navbar-expand-sm navbarlight navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-left">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home",root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <% if current_user && current_user.hospital? %>
            <% hospital_center = current_user.center %>
            <% if hospital_center %>
              <%= link_to "My Center", center_path(hospital_center), class: "nav-link"%>
            <% end %>
          <% else %>
            <%= link_to "Locations", centers_path, class: "nav-link"%>
          <% end %>
        </li>

      </ul>
    </div>

    <div class="navbar-middle">
      <%= link_to root_path, class: "navbar-brand logo-txt" do %>
        GIVE YOUR BLOOD
      <% end %>
    </div>

    <div class="navbar-right">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "About us", "#", class: "nav-link"%>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= 'Menu' %>
            </a>

           <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user && current_user.donor %>
                <%= link_to "Donor Profile", donor_path(current_user.donor), class: "dropdown-item" %>
              <% else %>
                <%= link_to "Create Donor Profile", new_donor_path, class: "dropdown-item" %>
              <% end %>

              <% if current_user && current_user.hospital %>
                <%= link_to "Hospital Profile", hospital_path(current_user.hospital), class: "dropdown-item" %>
              <% else %>
                <%= link_to "Create Hospital Profile", new_hospital_path, class: "dropdown-item" %>
              <% end %>

              <%= link_to "Log out", destroy_user_session_path,  class: "dropdown-item", data: { turbo_method: :delete } %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
