<h1>Patient Details</h1>
<p><strong>First Name:</strong> <%= @patient.first_name %></p>
<p><strong>Last Name:</strong> <%= @patient.last_name %></p>
<p><strong>Address:</strong> <%= @patient.address %></p>
<p><strong>Blood Type:</strong> <%= @patient.blood_type %></p>
<p><strong>Birthdate:</strong> <%= @patient.birthdate %></p>
<p><strong>National ID:</strong> <%= @patient.national_id %></p>

<%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-primary' %>
<%= link_to 'Back', patients_path, class: 'btn btn-secondary' %>
<%= link_to "Delete",
  patient_path(@patient), class: 'btn btn-secondary',
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }
%>