<div>
<%= form_with(model: appointment, url: appointments_path, method: "post") do |form| %>

<%= form.label :appointment_date,"Appointment Date:"  %> <%= form.date_field :appointment_date, class: "form-control" %>

<%= form.label :appointment_time, "Appointment Time:" %> <%= form.time_field :appointment_time, class: "form-control" %>

<%= form.label :person_in_charge, "Person in Charge:" %> <%= form.select :person_in_charge, [["John Doe", "john_doe"], ["Jane Smith", "jane_smith"]], { prompt: "Select Person in Charge" }, { class: "form-control" } %>

<%= form.label :donor_id, "Donor:" %> <%= form.collection_select :donor_id, Donor.all, :id, :last_name, { prompt: "Select Donor" }, { class: "form-control" } %>

<%= form.label :center_id, "Center:" %> <%= form.collection_select :center_id, Center.all, :id, :name, { prompt: "Select Center" }, { class: "form-control" } %>

<%= form.label :status, "Status:" %> <%= form.select :status, [["Pending", "pending"], ["Completed", "completed"]], { prompt: "Select Status" }, { class: "form-control" } %>
</div>

<div class="actions-btn"> <%= form.submit "Confirm Appointment", class: "btn btn-danger" %> </div> <% end %>

<%= link_to 'Back', appointments_path %>
