<div>
<%= form_with model: @appointment do |f| %>

  <%= f.label :appointment_date, "Appointment Date:" %>
  <%= f.date_field :appointment_date, class: "form-edit" %>

  <%= f.label :appointment_time, "Appointment Time:" %>
  <%= f.time_field :appointment_time, class: "form-edit" %>

  <%= f.label :person_in_charge, "Person in Charge:" %>
  <%= f.select :person_in_charge, [["John Doe", "john_doe"], ["Jane Smith", "jane_smith"]], { prompt: "Select Person in Charge" }, { class: "form-control" } %>

  <%= f.label :donor_id, "Donor:" %>
  <%= f.collection_select :donor_id, Donor.all, :id, :last_name, { prompt: "Select Donor" }, { class: "form-control" } %>

  <%= f.label :center_id, "Center:" %>
  <%= f.collection_select :center_id, Center.all, :id, :name, { prompt: "Select Center" }, { class: "form-control" } %>

  <%= f.label :status, "Status:" %>
  <%= f.select :status, [["Pending", "pending"], ["Completed", "completed"]], { prompt: "Select Status" }, { class: "form-control" } %>

  <div class="actions-edit">
    <%= f.submit "Save Edit", class: "btn btn-danger" %>
  </div>
<% end %>
</div>
