<div class="container">
    <h1>Appointment Details</h1>
    <div class="appointment-details">
      <div class="detail">
        <strong>Date:</strong>
        <%= @appointment.appointment_date %>
      </div>
      <div class="detail">
        <strong>Time:</strong>
        <%= @appointment.appointment_time %>
      </div>
      <div class="detail">
        <strong>Person in Charge:</strong>
        <%= @appointment.person_in_charge %>
      </div>
      <div class="detail">
        <strong>Donor:</strong>
        <%= @appointment.donor.full_name %>
      </div>
      <div class="detail">
        <strong>Status:</strong>
        <%= @appointment.status %>
      </div>
    </div>
    <div class="actions">
      <%= link_to 'Edit', edit_appointment_path(@appointment), class: "btn btn-primary" %>
      <%= link_to 'Back', appointments_path, class: "btn btn-secondary" %>
    </div>
</div>
