<div class="container">
    <h1>Appointment Details</h1>
    <div class="appointment-details">
      <div class="detail">
        <strong>Date:</strong>
        <%= @appointment.appointment_date %>
      </div>
      <div class="detail">
        <strong>Time:</strong>
        <%= @appointment.appointment_time %>
      </div>
      <div class="detail">
        <strong>Person in Charge:</strong>
        <%= @appointment.person_in_charge %>
      </div>
      <div class="detail">
        <strong>Donor:</strong>
        <%= @appointment.donor.full_name %>
      </div>
      <div class="detail">
        <strong>Status:</strong>
        <%= @appointment.status %>
        <% if @appointment.status == "canceled" %>
          <span class="text-danger">(Canceled)</span>
        <% end %>
      </div>
    </div>
    <div class="show-appointment-actions">
      <%= link_to 'Edit', edit_appointment_path(@appointment), class: "show-appointment-edit-btn" %>
      <%= link_to 'Back', donor_path(@appointment.donor), class: "show-appointment-back-btn" %>
      <%= button_to 'Cancel', cancel_appointment_path(@appointment), method: :patch, data: { confirm: 'Are you sure you want to cancel this appointment?' }, class: "show-appointment-cancel-btn" %>
    </div>
</div>
