<p>
  <strong>Date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.appointment_time %>
</p>

<p>
  <strong>Person in Charge:</strong>
  <%= @appointment.person_in_charge %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @appointment.donor.full_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>